
.footer {
    border-top-left-radius: var(--box-radius);
    border-top-right-radius: var(--box-radius);
    background-color: var(--point-color2);
    padding: calc(var(--box-padding)*2) 0 var(--box-padding) 0;
}

.footer-flex-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--point-color1);
}

.footer-flex {
    flex:0.5;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: calc(var(--box-padding)*2);
}