html, body, #root {
    width: 100%;
    height: 100%;
    --point-color1: #f4f4f4;
    --point-color2: #006eb7;
    --point-color3: #394867;
    --point-color4: #212A3E;
    --point-color5: #9BA4B5;
    --box-color: var(--point-color2);
    --box-font-color: var(--point-color1);
    --box-radius: 10px;
    --box-padding: 10px;
    background-color: var(--point-color1);
}

p {
    margin: 0;
}

.main {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 1em;
    padding-right: 1em;
}

.button-style {
    border: none;
    border-radius: calc(var(--box-radius)*2);
    background-color: #fff;
    padding: 7px 14px;
    transition: all 0.2s;
}

.button-style:hover {
    filter:brightness(120%);
    transform: translateY(-2px);
}