.soma-header {
    width:100%;
    margin-top: 10px;
    background-color: var(--box-color);
    border-radius: var(--box-radius);
    padding: calc(var(--box-padding)*2);
    padding-left: 5vw;
    padding-right: 5vw;
}

.soma-title {
    margin: 0 0 0 10px;
    color: var(--point-color1);
    font-weight: bold;
    font-size: 20px;
}

.soma-header-title {
    margin-top: 2rem;
    color: var(--point-color1);
    font-size: 2em;
    font-weight: bold;
}

.soma-header-content {
    margin-top: 1.5rem;
    color: var(--point-color1);
}